table {
	background-color: black;
	border-collapse: collapse;
	border: 4px outset #212529;
}

thead, th {
	text-align: center;
	background-color: #212529;
	font-weight: bold;
	color: teal;
	border-bottom: 3px solid teal;
}

tbody tr:nth-child(even) {
  background-color: #2B2C35;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #2E303E;
  color: white;
}